  <div class="container">
    <h1>Product Management</h1>
    <div class="form-container">
      <form id="product-form">
        <input type="text" id="product-name" placeholder="Product Name" required>
        <input type="number" id="product-price" placeholder="Product Price" required>
        <input type="text" id="product-description" placeholder="Product Description">
        <button type="submit">Add Product</button>
      </form>
    </div>
    <div class="product-list">
      <h2>All Products</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <td>Available</td>
          </tr>
        </thead>
        <tbody id="product-table-body">
          <tr *ngFor="let product of products">
            <td>{{product.productName}}</td>
            <td>{{product.unitPrice}}$</td>
            <td>{{product.package}}</td>
            <td>{{product.isDiscontinued? 'YES':'NO'}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>



